<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <link rel="stylesheet" href="./project.css">
</head>
<body>
    <nav>
        <span class="main-text">E-Shoe</span>
        <span class="menu">
            <a href="/adminProduct" class="header" id="product">Products</a>
            <a href="/addProduct" class="header" id="addProduct">ADD Products</a>
            <!-- <a href="/addCategory" class="header" id="categories">ADD Categories</a> -->
            <!-- <a href="/contact" class="header" id="contact">Contact Us</a> -->
            <!-- <a href="/" id="login">Login</a> -->
            <!-- <a href="/register" class="header" id="header-register">Register</a> -->
        </span>
    </nav>
    <div class="details">
        
    </div>
    <script src="./views/js/admin.js"></script>
</body>
</html>