<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>add product</title>
    <link rel="stylesheet" href="project.css">
  </head>
  <body>
    <nav>
    <span class="main-text">E-Shoe</span>
        <span class="menu">
            <a href="/adminProduct" class="header" id="product">Prdoucts</a>
            <a href="/addProduct" class="header" id="addProduct">ADD Products</a>
            <a href="/addCategory" class="header" id="addCategory">ADD Category</a>
            
            <a href="/logout" class="header">Log Out</a>
        </span>
    </nav>
    <form class="pr_form" action="/addCategory" method="POST" enctype="multipart/form-data">
        <div class="mb-3"><span class="labelInput" style="width: 20%;">Category Name</span><span class="form-control"><input type="text" name="name" class="input"></span></div>
        <div class="mb-3"><span class="labelInput" style="width: 20%;">Category is for</span><span class="form-control"><input type="text"  name="gender" class="input"></span></div>
        <div class="mb-3"><span class="labelInput" style="width: 20%;">Product Image</span><span class="form-control"><input type="file" name="files" class="input"></span></div>
        <input type="submit" style="margin-left: 20%;border: none;background-color: #f84258;" class="input">
      </form>
  </body>
  <script src="js/project.js"></script>
</html>