<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="project.css">
    <title>Contact Us</title>
  </head>
  <body>
    <%- include('./common/header')%>
    <center>
        <div class="mainContent">
            <div class="main">"fashion hub"</div>
            <div class="author">Tanish Tyagi</div>
            <div class="email">tanish.tyagi@gmail.com</div>
            <a href="#" id="linkid">Linked In</a>
        </div>
    </center>
    <%-include('common/footer')%>
    <script src="./js/project.js"></script>
  </body>
</html>