<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="project.css">
    <title>Contact Us</title>
  </head>
  <body>
    <%- include('./common/header')%>
    <center>
        <div class="mainContent">
            <div class="main">"E-Shoe"</div>
            <div class="author">Tushar Sharma</div>
            <div class="email">sharma.tushar2213@gmail.com</div>
            <a href="https://www.linkedin.com/in/      
            tushar-sharma-28303528b
            " id="linkid" target="_blank">Linked In</a> <br>
            <a href="https://www.instagram.com/tushar_atri_"
            id="linkid" target="_blank">Instagram</a>
        </div>
    </center>
    <%-include('common/footer')%>
    <script src="./js/project.js"></script>
  </body>
</html>