<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="./project.css">
</head> 
<body>  
    <%-include("common/header")%>
    <!-- ALL THE LINKS WILL GO TO categories.html -->
    <br><br><br><br><br>
    <div class="slideshow-container" >

      <div class="mySlides fade" >
        <div class="numbertext" >1 / 4</div>
        <img src="images/bann1.jpg" style="width: 100%;">
      </div>
      
      <div class="mySlides fade">
        <div class="numbertext" >2 / 4</div>
        <img src="images/bann2.jpg" style="width: 100%;">
        
      </div>
      
      <div class="mySlides fade">
        <div class="numbertext" >3 / 4</div>
        <img src="images/bann3.jpg" style="width: 100%;">
        
      </div>
      <div class="mySlides fade">
        <div class="numbertext">4 / 4</div>
        <img src="images/bann4.jpg" style="width:100%">
        
      </div>
      </div>
      <br>
      
      <div style="text-align:center">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span>
      </div>
      
      <br>

      <div class="index-offers-img">
        <a href="/categories"><img src="images/cta-1.jpg" alt=""></a>
        <a href="/categories"><img src="images/cta-2.jpg" alt=""></a>
        <a href="/categories"><img src="images/cta-3.jpg" alt=""></a>
        <a href="/categories"><img src="images/cta-4.jpg" alt=""></a>
      </div>

      <br><br>

      <div class="index-grid-img-1">
        <a href="/categories"><img src="images/insta-1.jpg" alt="" srcset=""></a>
        <a href="/categories"><img src="images/insta-2.jpg" alt="" srcset=""></a>
        <a href="/categories"><img src="images/insta-3.jpg" alt=""></a>
        <a href="/categories"><h4 class="info-of-img-below">For the Young, Wild & Stylish</h4></a>          
        <a href="/categories"><h4 class="info-of-img-below">Just like your way to Conquer</h4></a>
        <a href="/categories"><h4 class="info-of-img-below">Stands out like the Sun</h4></a>
      </div>
      <br> <br> <br>

      <h2 class="head-of-offer">TRENDING NOW</h2><br>
      <p class="para-of-offer">From the runway to your wadrobe</p>
    
      <br><br>
      <div class="index-grid-img-2">
        <a href="products.html"><img src="images/img-2-1.jpg" id="trans-img" alt=""></a> 
        <a href="products.html"><img src="images/img-2-2.jpg" alt=""></a>
        <a href="products.html"><img src="images/img-2-3.jpg" alt=""></a>
        <a href="products.html"><img src="images/img-2-4.jpg" alt="" srcset=""></a>
        <a href="products.html"><img src="images/img-2-5.jpg" alt="" srcset=""></a>         
        <a href="products.html"><img src="images/img-2-6.jpg" alt="" srcset=""></a>
    </div>

      <h2 class="head-of-offer">STYLES TO STEAL</h2><br>
      <p class="para-of-offer">Inspired by influencer</p>

      <br><br>

      <div class="index-grid-img-3">
        <a href="products.html"><img src="images/img-3-1.jpg" alt=""></a>
        <a href="products.html"><img src="images/img-3-2.jpg" alt="" srcset=""></a>
        <a href="products.html"><img src="images/img-3-3.jpg" alt=""></a>
        <a href="products.html"><img src="images/img-3-4.jpg" alt="" srcset=""></a>
      </div>

      <br><br>
  <%-include('common/footer')%>
  <script type="text/javascript" src="js/project.js"></script>
  </body>
</html>