<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./project.css">
</head>
<body>
    <%-include('common/header')%>
    <div class="login-interface">
        <!-- <div>
            <img src="../images/banner1.jpg" id="img1">
        </div> -->
        <!-- <div id="line"> -->
        <!-- </div> -->
        <!-- <div class="cart">
            <img src="../images/OIP.jpg" id="img3">
        </div> -->
    <!-- </div> -->
        <p class="loginLabel">LOGIN HERE!!!</p>
        <%if(msg!=''){%>
            <p class="message"><%= msg %></p>
        <%}%>
        <form action='/' class="login-box" method="POST">
            <input type="text" placeholder="Username" name="Username" id="Username"><br>
            <input type="password" name="password" id="password" placeholder="password"><br>
            <input type="submit" id="submit" value="Sign In">
            <button id="register"><a href="/register" style="text-decoration: none;">Register</a></button>
        </form>
    </div>
        <%-include('common/footer')%>
        <script src="./js/login.js"></script>
    </body>
</html>