<!DOCTYPE html>
<html lang="en">
<head>
    <title>register</title>
    <link rel="stylesheet" href="project.css">
</head>
<body>
    <%-include('common/header')%>
    <!-- <div class="login-interface" style="width: 80%;height: 100%;margin-left: 10%;"> -->
        <!-- <div>
            <img src="../images/login.png" id="img1">
        </div>
        <div id="line">
        </div>
        <div class="cart">
            <img src="../images/empty cart.png" id="img3">
        </div> -->
    <!-- </div> -->
    <div class="contain">
    <p class="loginLabel" style="color: white;font-weight: bolder;font-size: 30px;margin-left: 35%;">REGISTER HERE</p>
    <p class="message" ><%= message.pass %></p>
    <form action="/register" method="POST" class="register" enctype="multipart/form-data" >
        <!-- <div class="left"> -->
            <input type="text" name="fname" id="fname" placeholder="Fname">
            <input type="text" name="lname" id="lname" placeholder="Lname">
            <input type="text" name="email" id="email" placeholder="Email">
            <input type="text" name="phone" id="phone" placeholder="Phone">
        <!-- </div>
        <div class="right"> -->
            <input type="password" name="password" id="password" placeholder="Password" style="width: 70%;">
            <input type="password" name="currentPassword" id="currentPassword" placeholder="Confirm password">
            <input type="submit" name="submit" class="register" style="text-align: left;padding: 2%;width: fit-content;">
        <!-- </div>  -->
    </form>
    </div>
    <script src="./js/login.js"></script>
</body>
</html>