<nav>
    <span class="main-text">E-Shoe🦋</span>
    <span class="menu">
        <a href="/home" class="header">Home</a>
        <a href="/product" class="header" id="product">Products</a>
        <!-- <a href="/categories" class="header" id="categories">Categories</a> -->
        <a href="/contact" class="header" id="contact">Contact Us</a>
        <a href="/" id="login">Login</a>
        <a href="/register" class="header" id="header-register">Register</a>
    </span>
</nav>


